/* MsgWay Admin Styles */
.msgway-logs-table {
    margin-top: 20px;
}

.msgway-logs-table .wp-list-table {
    border: 1px solid #e5e5e5;
}

.msgway-logs-table .wp-list-table th,
.msgway-logs-table .wp-list-table td {
    padding: 10px;
}

#log-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#log-details-modal .modal-content {
    background: #fff;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

#log-details-modal pre {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
}

#log-details-modal .close-modal {
    margin-top: 10px;
}

.nav-tab-wrapper {
    /* margin-bottom: 20px; */
}

.tab-content {
    padding: 20px;
    background: #fff;
    border: 1px solid #e5e5e5;
}

fieldset {
    background: #f5f5f5;
    border: #e5e5e5 solid 1px;
    border-radius: 12px;
    padding: 16px;
    margin: 24px;
}